{deps, [
     %% TODO: switch to a tag
     {enif_protobuf, {git, "https://github.com/jg513/enif_protobuf.git", {branch, "master"}}}%,
%%     {enoise, {git, "https://github.com/aeternity/enoise.git", {branch, "master"}}}%,
%%     {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.10"}}}
]}.


{erl_opts, [nowarn_deprecated_function,
            warn_export_all,
            {lager_truncation_size, 15360}, %% 15KB
            {i, "include/proto"},
            {i, "_build/default/plugins/gpb/include"}]}.


{plugins, [
    {rebar3_gpb_plugin, "2.17.1" }
]}.


{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

%% Options for the gpb protocol buffer compiler,
%% if selected by the proto_compiler option
{gpb_opts, [{type_specs, false},
            {type_specs_hrl, true},
            {msg_name_prefix, "pb"},
            {msg_name_to_snake_case, true},
            {msg_name_to_lower, true},
            {i, "proto"},
            {rename, {enum_typename, lowercase}},
            {o_erl, "src/proto/"},
            {o_hrl, "include/proto/"},
            {strings_as_binaries, true},
            {oneof_as_tuples, false}]}.

%% Profiles
{profiles, [
    {test, [{erl_opts, [debug_info]}]}
]}.

